/* Mixins:
   ========================================================================== */

// px to rem
@function rem($pixels, $context: $mainFontSize) {
  @if (unitless($pixels)) {
    $pixels: $pixels * 1px;
  }
  @if (unitless($context)) {
    $context: $context * 1px;
  }
  @return $pixels / $context * 1rem;
}

// size to one line
@mixin size($width, $height: $width) {
  width: $width;
  height: $height;
}

// placeholder helper
@mixin placeholder {
  ::-webkit-input-placeholder {
    @content;
  }
  :-moz-placeholder {
    @content;
  }
  ::-moz-placeholder {
    @content;
  }
  :-ms-input-placeholder {
    @content;
  }
}

/* Fonts Helpers:
   ========================================================================== */

/*
  By default template support only modern format fonts without svg. Only: .woff, .woffs
  if ypu need svg comments lines bellow and uncomments "Fonts helper all format fonts"
*/

/*
  For modern format fonts (by default)
  Required parameters: @family, @family
  Minor parameters: @weight, @style, @pipeline

  Example Base:
    @include font-face("OpenSans", "../fonts/OpenSans/opensans");
  Example Situation:
    @include font-face("OpenSans", "../fonts/OpenSans/opensansItalic", 400, italic);

  * Files Required:
    .woff, .woffs
*/

@mixin font-face(
  $font-family,
  $file-path,
  $weight: normal,
  $style: normal,
  $asset-pipeline: false
) {
  @font-face {
    font-family: $font-family;
    font-weight: $weight;
    font-style: $style;

    src: url("#{$file-path}.woff") format("woff"),
      url("#{$file-path}.woff2") format("woff2");
  }
}

/*
  For Modern format fonts + .svg
  Required parameters: @family, @family
  Minor parameters: @weight, @style, @pipeline

  Example Base:
    @include font-face("OpenSans", "../fonts/OpenSans/opensans");
  Example Situation:
    @include font-face("OpenSans", "../fonts/OpenSans/opensansItalic", 400, italic);

  * Files Required:
    .woff, .woffs, .svg
*/


/*
@mixin font-face($font-family, $file-path, $weight: normal, $style: normal, $asset-pipeline: false ) {
 @font-face {
   font-family: $font-family;
   font-weight: $weight;
   font-style: $style;

   src: url('#{$file-path}.eot?#iefix') format('embedded-opentype'),
    url('#{$file-path}.woff') format('woff'),
    url('#{$file-path}.woff2') format('woff2'),
    url('#{$file-path}.svg') format('svg'),
    url('#{$file-path}.ttf') format('truetype');
*/


/*
  For All fonts formats
  Required parameters: @family, @family
  Minor parameters: @weight, @style, @pipeline

  Example Base:
    @include font-face("OpenSans", "../fonts/OpenSans/opensans");
  Example Situation:
    @include font-face("OpenSans", "../fonts/OpenSans/opensansItalic", 400, italic);

  * Files Required:
    .woff, .woffs, .svg
*/

@mixin font-face($font-family, $file-path, $weight: normal, $style: normal, $asset-pipeline: false ) {
 @font-face {
   font-family: $font-family;
   font-weight: $weight;
   font-style: $style;
   src: url('#{$file-path}.eot?#iefix') format('embedded-opentype'),
    url('#{$file-path}.woff') format('woff'),
    url('#{$file-path}.woff2') format('woff2'),
    url('#{$file-path}.svg') format('svg'),
    url('#{$file-path}.ttf') format('truetype');
 }